In [3]:
%%!
git init

['Initialized empty Git repository in C:/Users/hdtah/Documents/Master in Data Science/Data science in python/laboratorio-2/.git/']

# Laboratorio #2

## Parte #1 (Programación y Sintaxis)

### 1.1 Programa 1

In [6]:
"""Programa que recibe un valor como parámetro (número en segundos) y que despliegue el equivalente en horas, minutos y segundos."""

'Programa que recibe un valor como parámetro (número en segundos) y que despliegue el equivalente en horas, minutos y segundos.'

In [16]:
import math

def get_h_m_s(seconds=0):
    """Handle to convert seconds to format h:m:s"""
    try:
        segs    = int(seconds)
        ss = math.floor(segs % 60)
        mm = math.floor((segs / 60) % 60)
        hh = math.floor(((segs / 60) / 60) % 60)
        
        return f"{hh} horas, {mm} minutos, {ss} segundos."
    except Exception as e:
        print("Error en la entrada de datos", e)

In [23]:
get_seconds = input('Ingrese los segundos: ')
get_h_m_s(get_seconds)

Ingrese los segundos:  2743

'0 horas, 45 minutos, 43 segundos.'

### 2.2 Programa 2

In [697]:
"""Programa que dibuja un patrón de 4 triángulos dado un número entre 1 y 20, y cualquier carácter"""


def draw_patron(num, caracter):
    """Handle draw patron"""
    try:
        if((int(num) >= 1) and (int(num) <= 20)):
            aux  = int(num) + 1
            aux2 = aux - 1
            aux3 = aux - 1
            for i in range(0, int(num), 1):
                aux  = aux - 1
                line_draw = (caracter * (i + 1)) + " "*aux3 + (caracter*aux) + ' '*(aux2) + (caracter*aux)+ ' '*(aux2) + ' '*(aux-1) + (caracter*(i+1))
                if(i > 0 and ((i % 2) == 0)):
                    aux2 = aux2 + 1
                    aux3 = aux3 - 1
                    line_draw = (caracter * (i + 1)) + " "*(aux3) + ' '*i + (caracter*aux)  + ' '*(aux2) + (caracter*aux) + ' '*(aux2) + ' '*(aux) + (caracter*(i+1))
                elif(i > 0 and ((i % 2) > 0)):
                    aux3 = aux3 - 1
                    line_draw = (caracter * (i + 1)) + " "*(aux3) + ' '*i + (caracter*aux)  + ' '*(aux2) + (caracter*aux)  + ' '*(aux2) + ' '*(aux+1) + (caracter*(i+1))
                print(line_draw)  
            
        else:
            raise ValueError('El número que ingresó no es válido, debe estar entre 1 y 20.')
    except Exception as e:
        print(f"Error en la entrada de datos: {e}")

In [708]:
draw_patron(4, '*')

*    ****    ****       *
**    ***    ***        **
***    **     **       ***
****    *     *       ****

### 3.3 Programa 3

In [12]:
"""Programa en Python que despliega la edad de una persona años, meses y días"""

from datetime import date 

def get_old(day, month, year):
    """Handle the old"""
    todayDate = date.today() 
    
    if(month >= todayDate.month):
        years = (todayDate.year - int(year)) - 1
    else:
        years = todayDate.year - int(year)
        
    months = (todayDate.month - month)
    days   = (todayDate.day - day)
    
    #print(months, days)
        
    if(0 > days):
        months = months - 1
        days   = days + 31
        
    if (0 > months):
        months = months + 12
    
    print(f"{years} años, {months} meses y {days} días")

In [13]:
try:
    year  = int(input('Ingrese el año de su nacimiento: '))
    month = int(input('Ingrese el mes de su nacimiento: '))
    day   = int(input('Ingrese el día de su nacimiento: '))
    
    if(year <= 0 or ((month <= 0) or (month > 12)) or ((day <= 0) or (day > 31))):
        raise ValueError('Recuerde que el año debe ser mayor a 0, el mes entre el 1 y 12, y el día entre el 1 y 31.')
    else:
        get_old(day, month, year)
except Exception as e:
    print(f"Error en la entrada de datos: {e}")

Ingrese el año de su nacimiento:  1994
Ingrese el mes de su nacimiento:  10
Ingrese el día de su nacimiento:  25

26 años, 3 meses y 23 días

## Parte #2 (Programación y Sintaxis)

### 2.1 Programa 1

In [23]:
"""Programa que recibe una tupla y la transforma en un string"""


def tuple_to_str(data):
    try:
        result = ''
        for i in list(data):
            result = result + str(i)
        return result
    except Exception as e:
        return f"Error en la entrada de datos: {e}"

In [26]:
tuple_to_str((10, 20, 40, 5, 70))

'102040570'

In [27]:
tuple_to_str(('_HEANSELL', '_ES_', '_UN_', '_ALUMNO_'))

'_HEANSELL_ES__UN__ALUMNO_'

### 2.2 Programa 2

In [76]:
"""Programa que elimina de una lista las tuplas vacías"""


def delete_empty_tuple(data):
    try:
        temp = []
        for tupla in data:
            if(len(tupla) > 0):
                temp.append(tupla)
        return temp
    except Exception as e:
        return f"Error en la entrada de datos: {e}"

In [77]:
lista = delete_empty_tuple([(), ('X'), ('a', 'b'), ('a', 'b', 'c'), (), ('d')])
lista

['X', ('a', 'b'), ('a', 'b', 'c'), 'd']

### 2.3 Programa 3

In [112]:
"""Programa que obtiene el promedio de cada tupla dentro de una tupla"""


def get_average_tuple(tupla):
    try:
        temp = ()
        for tup in list(tupla):
            aux = 0
            avg = 0
            for t in list(tup):
                aux = aux + t
            avg = round((aux / len(tup)), 2)
            temp = temp + (avg,)
        return temp
    except Exception as e:
        return f"Error en la entrada de datos: {e}"

In [114]:
res = get_average_tuple(( (10, 10, 10, 12), (30,45, 56, 45), (81, 80, 39, 32) ))
res

(10.5, 44.0, 58.0)